@{
}

<h1>Cheeses that may have fallen out of favor.</h1>

<form method="post">
    @foreach (Cheese aCheese in ViewBag.Cheeses)
    {
        <input name="cheeseIds" type="checkbox" value="@aCheese.CheeseId"/>@aCheese.Name <br />
    }
    <br />
    <input type="submit" value="Screw these cheeses" />
</form>

