@model CheeseMVC.ViewModels.EditCheeseViewModel

<h1>Hey, can I bug you to edit "@Model.Name" (id="@Model.CheeseId")?</h1>

<form asp-controller="Cheese" asp-action="Edit" method="post">

    <input type="hidden" value="@Model.CheeseId" asp-for="CheeseId"/>
    <table>
        <tr>
            <td>Name: </td>
            <td><input asp-for="Name" /></td>
            <td style="padding-left: 10px; color: red;"><span asp-validation-for="Name"></span></td>
        </tr>
        <tr>
            <td style="padding-right: 5px;">Description: </td>
            <td><input asp-for="Description" /></td>
            <td style="padding-left: 10px; color: red;"><span asp-validation-for="Description"></span></td>
        </tr>
        <tr>
            <td>Rating: </td>
            <td> <input asp-for="Rating" /></td>
            <td style="padding-left: 10px; color: red;"><span asp-validation-for="Rating"></span></td>
        </tr>
        <tr>
            <td>Type: </td>
            <td> <select asp-for="Type" asp-items="Model.CheeseTypes"></select> </td>
            <td style="padding-left: 10px; color: red;"><span asp-validation-for="Type"></span></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Edit your cheese" style="width: 100%; margin: 5px auto;" /></td>
        </tr>
    </table>

</form>